/* ===== wrapper ===== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ===== end wrapper ===== */

/* ===== body ===== */
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	background-color: #F5F5F5;
}

/* ===== end body ===== */

/* ===== container ===== */
[class*="__container"] {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0px 15px;
}

@media (max-width: 1050px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: none;
	}
}

/* ===== end container ===== */

/* ===== main ===== */
.main {
	flex: 1 1 auto;
}

/* ===== end main ===== */

/* ===== header ===== */
.header {
	background: url('../img/header_bg.jpg') center / cover no-repeat;
	min-height: 800px;
}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 26px 0px;
}

@media (max-width: 750.98px) {
	.header__body {
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 20px;
		padding: 15px 0px;
	}
}

.header__logo {}

.header__img {}

.header__info {
	display: flex;
	column-gap: 32px;
}


@media (max-width: 750.98px) {
	.header__info {
		padding: 0px 0px 0px 10px;
		column-gap: 10px;
	}
}

@media (max-width: 830px) {
	.header__info {
		column-gap: 20px;
	}
}

@media (max-width: 574.98px) {
	.header__info {
		column-gap: 10px;
	}
}

.info-header {}

.info-header__item {
	display: flex;
	column-gap: 10px;
}

@media (max-width: 767.98px) {
	.info-header__item {
		column-gap: 5px;
	}
}

.info-header__image {
	align-self: flex-start;
}

.info-header__body {
	font-weight: 700;
	font-size: 12px;
	line-height: 1.83;
	letter-spacing: 0.15px;
	color: #FFFFFF;
}

.info-header__body_medium {
	font-weight: 500;
}

.info-header__boarging {}

.header__button {
	display: inline-flex;
}

.header__link {
	background: #F2726F;
	border-radius: 8px;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 9px 34px;
}

@media (max-width: 830px) {
	.header__link {
		padding: 6px 20px;
		align-self: center;
	}
}

@media (max-width: 572.98px) {
	.header__link {
		font-size: 10px;
	}
}

.header__link:hover {
	color: #F2726F;
	transition: 0.3s ease;
	background-color: #fff;
}

/* ===== header__menu ===== */
.header__menu {
	display: flex;
	align-items: center;
	padding: 0px 40px;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 10px;
	min-height: 60px;
	margin: 0px 0px 126px 0px;
}

@media (max-width: 530px) {
	.header__menu {
		padding: 0px 20px;
	}
}

.menu {}

.menu__nav {}

.menu__list {
	display: flex;
	column-gap: 37px;
}

@media (max-width: 677.98px) {
	.menu__list {
		column-gap: 20px;
	}
}

@media (max-width: 588.98px) {
	.menu__list {
		column-gap: 10px;
	}
}

@media (max-width: 530px) {
	.menu__list {
		flex-wrap: wrap;
		gap: 5px 0px;
	}
}

.menu__item {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.57;
	letter-spacing: 0.15px;
	color: #000000;
}

@media (max-width: 530px) {
	.menu__item {
		flex: 0 1 33.333%;
		font-size: 20px;
		padding: 5px 0px;
	}
}

.menu__link {}

.menu__icons {
	display: flex;
	column-gap: 22px;
}

.menu__search {}

.menu__basket {}

/* ===== header content ===== */
.header__content {}

.header__title {
	font-weight: 900;
	font-size: 56px;
	line-height: 1;
	color: #FFFFFF;
	max-width: 583px;
	margin: 0px 0px 48px 0px;
}

/* ===== end header ===== */

/* ===== about ===== */
.about {
	padding: 5px 5px;
	position: relative;
	margin: -81px 0px 0px 0px;
}
.about__container {
	background: #5d62b5;
	border-radius: 40px;
	position: relative;
	padding: 5px 5px;
}
.about__container::before {
	content: "";
	background: url('../img/about_before.png') 0 0 no-repeat;
	width: 201px;
	height: 317px;
	position: absolute;
	top: -158px;
	right: -66px;
}
.about__container::after {
	content: "";
	background: url('../img/about_bg.png') 0 0 no-repeat;
	width: 665px;
	height: 591px;
	position: absolute;
	/* top: 265px; */
	bottom: -135px;
	left: -20px;
}
.about__content {
	max-width: 846px;
	margin: 0px auto;
	padding: 100px 0px 0px 0px;
}
.content-about {
}
.content-about__subtitle {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #f5f5f5;
	margin: 0px 0px 33px 0px;
	position: relative;
	padding: 0px 0px 0px 35px;
}
.content-about__subtitle::before {
	content: "";
	background: url('../img/content_icon.svg') 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	top: -2px;
	left: -5px;
}
.content-about__titile {
	max-width: 583px;
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #ffffff;
	margin: 0px 0px 36px 0px;
}
.content-about__text {
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}
.about__image {
	/* position: absolute;
	left: 60px;
	top:405px;
	z-index: 3; */
	max-width: 848px;
	width: 100%;
	border-radius: 40px;
	position: relative;
	left: -30px;
	top: 160px;
	z-index: 3;
}
/* ===== end about ===== */